<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/user.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a href="/">Back</a>
    
    <H1><%=User.name %></H1>
    
        <form action="/<%= User.id %>?method=PUT" method="POST">
            <input type="number" placeholder="id" name="id" value="<%= User.id %>">
            <input type="text" placeholder="name" name="name" value="<%= User.name %>">
            <input type="text" placeholder="username" name="username" value="<%= User.username %>">
            <input type="text" placeholder="password" name="password" value="<%= User.password %>">
            <input type="number" placeholder="age" name="age" value="<%= User.age %>">
            <input type="submit" value="Update">
                  
        </form>
        
</body>
</html>