<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a href="/">Back</a>
    
    <h1> <%= user.name %></h1>
    
        <form action="<%= user.id %>?method=PUT" method="POST">
            <input type="text" placeholder="id" name="id" value="<%= user.id %>">
            <input type="text" placeholder="name" name="name" value="<%= user.name %>">
            <input type="text" placeholder="username" name="username" value="<%= user.username %>">
            <input type="text" placeholder="password" name="password" value="<%= user.password %>">
            <input type="number" placeholder="age" name="age" value="<%= user.age %>">
            <input type="submit" value="Update">
                  
        </form>
        
</body>
</html>